*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box; 
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#gameTic{
  background-color: rgb(220, 213, 213);
  height: 80vh;
  width: 80vw;
}
.square{
  height: 20px;
  width: 20px;
}