*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box; 
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
 
}

#gameTic{
  background-color: rgb(220, 213, 213);
  height: 80vh;
  width: 50vw;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.square{
  
  height: 24.49px;
  width: 26px;
  background-color: aliceblue;
  border: 2px solid black;
  
}